{% extends 'base.html.twig' %}

{% block title %}Test{% endblock %}

{% block body %}
    <h1>Działa Symfony + Twig 🚀</h1>
    <p>To jest Twoja pierwsza templatka</p>

    Jestem {{ name }}!
{% endblock %}

{% block footer %}Stopka{% endblock %}
