{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <div class="card shadow-sm p-4">

        <h1 class="mb-3">Działa Symfony + Twig </h1>

        <p class="lead">To jest Twoja pierwsza templatka</p>

        <p><strong>Jestem {{ name }}!</strong></p>

        <hr>

        <a href="/products" class="btn btn-primary">
            Przejdź do produktów
        </a>

    </div>
{% endblock %}
