<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Moja aplikacja{% endblock %}</title>
</head>
<body>

<nav>
    <a href="/test">Test</a>
</nav>

<hr>

{% block body %}{% endblock %}

</body>

{% block footer %}{% endblock %}
</html>
