{% extends 'admin/base.html.twig' %}

{% block body %}
    <div class="card p-4">
        <h1>New customer</h1>

        {{ include('admin/customer/_form.html.twig') }}

        <a href="{{ path('app_customer_index') }}" class="btn btn-secondary mt-3">Back</a>
    </div>
{% endblock %}
