{% extends 'base.html.twig' %}

{% block title %}Edit permission{% endblock %}

{% block body %}
    <div class="card shadow-sm p-4">
        <h1 class="mb-4">Edit permission</h1>

        {{ include('admin/permission/_form.html.twig') }}

        <a href="{{ path('app_permission_index') }}" class="btn btn-secondary mt-3">Back to list</a>
    </div>
{% endblock %}
